p{
  color: blue;
}

#server-side-intro {
  color: blue;
}

.my-brand {
  font-size: 18px;
  font-style: oblique;
  text-transformation: lowercase;
  color: red;
  text-decoration: underline;
/*
this is a comment
*/
